a {
    cursor: pointer;
}

.mat-tab-label {
    border: 1px solid grey !important;
    margin-top: 12px !important;
}

.refresh-btn {
    border: none;
    background: none;
}

.refresh-icon-clr {
    color: #008B99;
}

.sort-icon {
    float: right;
}

.disabled-icon i {
    color: #d1d5dc;
}

th {
    cursor: pointer;
}

th span {
    float: right;
}

.truncate-text {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    /* Adjust this width as needed */
}

@media (max-width: 768px) {
    .table-mobile table thead {
        display: none;
    }

    .table-mobile table td {
        /* white-space: normal !important; */
        word-break: break-all;
        position: relative;
        padding-left: 53.7% !important;
        float: left;
        width: 100%;
        border-bottom: 0 !important;
        min-height: 40px;
        text-align: left !important;
        border-top: 1px solid #e3e3e3 !important;
    }

    .table-panel table td {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-right: 10px !important;
    }

    .table-mobile table td::before {
        left: 15px;
    }

    .table-mobile table td::before {
        /* content: attr(data-title); */
        position: absolute;
        top: 11px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .table-mobile table td.btnalign {
        padding-left: 0px !important;
    }
}