<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="darkblue">
                        <table width=100%;>
                            <tr>
                                <td>
                                    <h4 class="title">Dynamic Page List</h4>
                                    <p class="category">Manage your Dynamic Pages</p>
                                </td>
                                <td style="text-align: right;">
                                    <button (click)="onEditconf(0)" class="btn btn-danger">Add New</button>
                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div *ngIf="filteredDynamicPagelist != null && filteredDynamicPagelist != undefined" 
                    class="card-content table-responsive table-mobile">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Search Page Name</mat-label>
                                <input matInput placeholder="Search" [(ngModel)]="searchPageNameQuery">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Search Page Type</mat-label>
                                <mat-select [(ngModel)]="searchPageTypeQuery" name="pageTypeOption">
                                  <mat-option *ngFor="let ptype of pageType" [value]="ptype.value">
                                    {{ptype.key}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button (click)="applyFilter()" class="btn btn-danger">Search</button>
                        </div>
                        <table class="table">
                            <thead class="text-info">
                                <tr>
                                    <th>Name</th>
                                    <th>Title </th>
                                    <th>Page Type </th>
                                    <th>Description </th>
                                    <th>URL </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mails of filteredDynamicPagelist">
                                    <td data-title="Name">{{mails.PageName}}</td>
                                    <td data-title="Subject">{{mails.PageTitle}}</td>
                                    <td data-title="Subject">{{mails.ptype}}</td>
                                    <td data-title="Subject">{{mails.PageDescription}}</td>
                                    <td data-title="Subject">/info/{{mails.PageID}}/{{mails.PageName}}
                                        
                                    </td>
                                    <td class="btnalign">
                                        <button (click)="onEditconf(mails.PageID)" class="btn btn-default">Edit</button>
                                        <button (click)="openDialog(mails.PageID)" class="btn btn-danger">Delete</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>