<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="darkblue">
                        <table width=100%;>
                            <tr>
                                <td>
                                    <h4 class="title">Dynamic Page List</h4>
                                    <p class="category">Manage your Dynamic Pages</p>
                                </td>
                                <td style="text-align: right;">
                                    <button (click)="onEditconf(0)" class="btn btn-danger">Add New</button>
                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div *ngIf="mailconfiglist!=null && mailconfiglist!=undefined" class="card-content table-responsive table-mobile">
                        <table class="table">
                            <thead class="text-info">
                                <tr>
                                    <th>Name</th>
                                    <th>Title </th>
                                    <th>Description </th>
                                    <th>URL </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mails of mailconfiglist">
                                    <td data-title="Name">{{mails.PageName}}</td>
                                    <td data-title="Subject">{{mails.PageTitle}}</td>
                                    <td data-title="Subject">{{mails.PageDescription}}</td>
                                    <td data-title="Subject">/info/{{mails.PageID}}/{{mails.PageName}}
                                        
                                    </td>
                                    <td class="btnalign">
                                        <button (click)="onEditconf(mails.PageID)" class="btn btn-default">Edit</button>
                                        <button (click)="openDialog(mails.PageID)" class="btn btn-danger">Delete</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>