@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-mdc-button .mdc-button__label {
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
    /* margin: 10px 0 0 0; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.mat-mdc-button .mdc-button__label {
    position: fixed !important;
    top: 100px;
}

.custom-inner-container {
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 4px 0px -1px #c3c3c3;
    background: #fff;
}

.custom-inner-container h5 {
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 20px 0;
    padding: 0;
    border-bottom: 1px solid #c3c3c3;
    letter-spacing: 0.8px;
}

.custom-inner-container h5 small {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    color: #777;
}
.custom-btn:hover{
    background: #464741;
    border: 1px solid #464741;
}
.custom-btn {
    display: flex;
    float: right;
    background: #31322D;
    border: 1px solid #31322D;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.6px;
    padding: 7px;
    margin: 0 5px 18px 10px;
    width: 150px;
    word-wrap: break-word;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.custom-white-btn:hover{
    background: #464741;
    border: 1px solid #464741;
    color: #fff;
}
.custom-white-btn {
    display: flex;
    float: right;
    background: #fff;
    border: 1px solid #464741;
    border-radius: 5px;
    color: #464741;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.6px;
    padding: 7px;
    margin: 0 15px 18px 10px;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.custom-inner-container .header-button {
    display: flex;
    float: right;
    position: relative;
    bottom: 50px;
    background:  #31322D;
    margin: 0 10px 0 0;
    border: 1px solid  #31322D;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.6px;
    padding: 7px;
    width: auto;
}
.custom-inner-container .header-button:hover {
    background: #464741;
    border: 1px solid #464741;
}

.custom-table thead th {
    font-weight: 500 !important;
    font-size: 15px !important;
    color: #1B212D;
    letter-spacing: 0.8px;
    padding: 6px 10px !important;
}

.custom-table tbody th,
.custom-table tbody td {
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #1B212D;
    letter-spacing: 0.8px;
    padding: 6px 10px !important;
}

.font-20 {
    font-size: 20px;
}

.btn-icon {
    border: none;
    background: none;
}

.sidebar .nav p {
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 500;
}

.record-count-section {
    padding: 8px 0;
    color: #1B212D;
    display: flex;
    justify-content: space-between;
}

.record-count-section label {
    color: #1B212D;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.record-count-section select,
.record-count-section input {
    background: #fff;
    padding: 5px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}

.ngx-pagination {
    text-align: right;
}

.ngx-pagination li {
    background: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px !important;
    padding: 0 3px;
}

.ngx-pagination .current {
    background: #464741 !important;
    border: 1px solid #464741;
    border-radius: 5px !important;
    padding: 3px 12px !important;
    color: #fff !important;
    margin: 0 6px 0 0;
}

.ngx-pagination li.pagination-next,
.ngx-pagination li.pagination-previous {
    border: none;
    color: #1B212D;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.main-panel {
    position: relative;
    z-index: 2;
    float: right;
    overflow: auto;
    width: calc(100% - 300px);
    min-height: 100%;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

[class*="col-md"] {
    padding: 10px;
}

.custom-checkbox {
    transform: scale(1.5);
    margin-right: 20px;
}