@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng//resources/primeng.min.css";

.mat-mdc-button .mdc-button__label {
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
    /* margin: 10px 0 0 0; */
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

html,
body {
    height: 100%;
}

/* body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} */

body {
    font-family: 'Poppins', sans-serif !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #008B99;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #008B99;
}



.mat-mdc-button .mdc-button__label {
    position: fixed !important;
    top: 140px;
}

.fullheight-container {
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 4px 0px -1px #c3c3c3;
    background: #fff;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

.custom-inner-container h5 {
    font-weight: 600;
    font-size: 16px;
    padding: 0;
    letter-spacing: 0.8px;
    margin: 0 !important;
}

.custom-inner-container h5 small {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.custom-btn:hover {
    background: #008B99;
    border: 1px solid #008B99;
}

.custom-btn {
    display: flex;
    float: right;
    background: #002428;
    border: 1px solid #002428;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.6px;
    padding: 7px;
    /* margin: 0 5px 18px 10px; */
    min-width: 120px;
    word-wrap: break-word;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.custom-white-btn:hover {
    background: #008B99;
    border: 1px solid #008B99;
    color: #fff;
}

.custom-white-btn {
    display: flex;
    float: right;
    background: #fff;
    border: 1px solid #008B99;
    border-radius: 5px;
    color: #008B99;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.6px;
    padding: 7px;
    /* margin: 0 15px 18px 10px; */
    min-width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.custom-inner-container .header-button {
    display: flex;
    float: right;
    background: #002428;
    margin: 0 10px 0 0;
    border: 1px solid #002428;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.6px;
    padding: 7px;
    width: auto;
}

.custom-inner-container .header-button:hover {
    background: #008B99;
    border: 1px solid #008B99;
}

/* .custom-table{
    margin-top: 10px;
} */
.custom-table thead th {
    font-weight: 500 !important;
    font-size: 15px !important;
    color: #1B212D;
    letter-spacing: 0.8px;
    padding: 6px 10px !important;
}

.custom-table tbody th,
.custom-table tbody td {
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #1B212D;
    letter-spacing: 0.8px;
    padding: 6px 10px !important;
}

.font-20 {
    font-size: 20px;
}

.btn-icon {
    border: none;
    background: none;
}

.sidebar .nav p {
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 500;
}

.record-count-section {
    padding: 8px 0;
    color: #1B212D;
    display: flex;
    justify-content: space-between;
}

.record-count-section label {
    color: #1B212D;
    font-weight: 400;
    letter-spacing: 0.8px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
}

.record-count-section select,
.record-count-section input {
    background: #fff;
    padding: 5px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    height: 38px;
}

.table>thead {
    vertical-align: middle !important;
}

.ngx-pagination {
    text-align: right;
}

.ngx-pagination li {
    background: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px !important;
    padding: 0 3px;
}

.ngx-pagination .current {
    background: #008B99 !important;
    border: 1px solid #008B99;
    border-radius: 5px !important;
    padding: 3px 12px !important;
    color: #fff !important;
    margin: 0 6px 0 0;
}

.ngx-pagination li.pagination-next,
.ngx-pagination li.pagination-previous {
    border: none;
    color: #1B212D;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.main-panel {
    position: relative;
    z-index: 2;
    float: right;
    overflow: auto;
    width: calc(100% - 300px);
    min-height: 100%;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

/* [class*="col-md"] {
    padding: 10px;
} */

.custom-checkbox {
    transform: scale(1.5);
    margin-right: 20px;
}

.mat-mdc-tab-group {
    width: 100%;
}

.flex-single-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c3c3c3;
}

.flex-single-row:last-child {
    border: none !important;
}

.flex-single-row .flex-single-row-inner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex-single-row .flex-single-row-inner h4 {
    width: 180px;
}

.custom-datepicker-mui {
    width: 212px;
    background: #f5f5f5ff;
    padding: 15px;
    margin-top: -20px;
    border: 0;
    border-bottom: 1px solid #cdcdcdff;
    border-radius: 0;
}

.section-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-heading p {
    border-bottom: 1px solid;
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.button-grid button {
    margin: 0 10px !important;
    width: auto !important;
}

.mat-mdc-tab-body.mat-mdc-tab-body-active {
    border: 1px solid #cdcdcdff;
    padding: 10px 10px;
    margin: 28px 14px 28px 14px;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    height: auto !important;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

.custom-file-upload-section input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.custom-file-upload-section input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

.full-width-button-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.toast-top-right {
    top: 92px !important;
    right: 58px !important;
}


label.badge {
    padding: 8px 18px;
    margin: 0 5px;
    border-radius: 10px;
    border: 1px solid #008B99;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

label.badge.active {
    background: #008B99;
    color: #FFF;
}

.actions-section.hidden {
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.3s linear;
    -moz-transition: height 0.3s linear;
    -ms-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
    transition: height 0.3s linear;
}

.actions-section.hidden.open {
    height: 50px;
    -webkit-transition: height 0.3s linear;
    -moz-transition: height 0.3s linear;
    -ms-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
    transition: height 0.3s linear;
}

.actions-section button {
    color: #fff;
    padding: 8px;
    margin: 0 10px 0 0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.actions-section button.btn-success {
    background: #27AE60;
    color: #fff;
    border: 1px solid #27AE60;
}

.actions-section button.btn-fail {
    background: #D74F4F;
    color: #fff;
    border: 1px solid #D74F4F;
}

/* .mat-mdc-tab-body-content {
    overflow: hidden !important;
} */
.p-picklist .p-picklist-header {
    background: #f9fafb;
    color: #374151;
    border: 1px solid #e5e7eb;
    padding: 1.25rem;
    border-bottom: 0 none;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-top: 20px;
}

.p-picklist .p-picklist-list {
    border: 1px solid #e5e7eb;
    background: #ffffff;
    color: #4b5563;
    padding: 15px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: 0 none;
}

.p-picklist .p-picklist-list .p-picklist-item.p-highlight {
    color: #4338CA;
    background: #EEF2FF;
}

.p-picklist .p-picklist-list:not(.cdk-drop-list-dragging) .p-picklist-item:not(.p-highlight):hover {
    background: #f3f4f6;
    color: #4b5563;
}

.p-picklist .p-picklist-list .p-picklist-item {
    padding: 0.75rem 1.25rem;
    margin: 0;
    border: 0 none;
    color: #4b5563;
    background: transparent;
    transition: box-shadow 0.2s;
}

.p-picklist-item:not(.cdk-drag-disabled) {
    cursor: move;
}

.p-picklist .p-picklist-buttons {
    padding: 1.25rem;
}

.p-picklist .p-picklist-buttons .p-button {
    margin-bottom: 0.5rem;
}

.p-picklist-buttons .p-button,
.p-orderlist-controls .p-button {
    transition: opacity 0.2s, background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-button.p-button-icon-only {
    width: 3rem;
    padding: 0.75rem 0;
}

.p-button:not(:disabled):hover {
    background: #4F46E5;
    color: #ffffff;
    border-color: #4F46E5;
}

.admin-pannel-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #646464;
    margin-bottom: 12px;
    padding-bottom: 12px;
    gap: 8px;
}

/* .form-group.form-black {
    margin-bottom: 15px;
} */

.custom-inner-container h5 {
    margin-bottom: 15px !important;
}

.align-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.card-content input {
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .mat-mdc-button .mdc-button__label {
        top: 110px;
    }
}

@media (max-width: 1020px) {
    .col-12.col-sm-12.col-md-12.col-lg-6.grid-w-100 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .mdc-button {
        padding: 0 18px 0 8px;
    }
}

@media (max-width: 480px) {
    .admin-pannel-head {
        flex-wrap: wrap;
    }
}

/* New Table CSS */

.admin-table .dataTables_filter {
    float: right;
}

.admin-table .table-hover>tbody>tr:hover {
    background-color: #002428;
    color: #fff;
}

@media (min-width: 768px) {
    .admin-table .table {
        /* table-layout: fixed;
        max-width: 100% !important; */
        font-size: 14px;
        border-collapse: collapse;
        table-layout: fixed;
    }

    .admin-table table td,
    .admin-table table th {
        word-wrap: break-word;
    }
}

.admin-table thead {
    background: #ddd;
}

.admin-table .table td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-table table.dataTable thead .sorting:after,
.admin-table table.dataTable thead .sorting_asc:after,
.admin-table table.dataTable thead .sorting_desc:after,
.admin-table table.dataTable thead .sorting_asc_disabled:after,
.admin-table table.dataTable thead .sorting_desc_disabled:after {
    opacity: 1;
}

.admin-table .pagination>.active>a,
.admin-table .pagination>.active>a:focus,
.admin-table .pagination>.active>a:hover,
.admin-table .pagination>.active>span,
.admin-table .pagination>.active>span:focus,
.admin-table .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #002428;
    border-color: #002428;
}

.admin-table .pagination>li>a,
.admin-table .pagination>li>span {
    color: #002428;
}

.admin-table table.table-bordered.dataTable th,
.admin-table table.table-bordered.dataTable td {
    overflow-wrap: break-word;
}

@media (max-width: 768px) {
    .fullheight-container{
        padding: 10px 8px;
    }
    /* Force table to not be like tables anymore */
    .admin-table table,
    .admin-table thead,
    .admin-table tbody,
    .admin-table th,
    .admin-table td,
    .admin-table tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .admin-table thead tr,
    .admin-table tfoot tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .admin-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        word-wrap: break-word;
        min-height: 46px;
    }

    .admin-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        /* white-space: nowrap; */
    }

    .admin-table .table td:nth-child(1) {
        background: #ccc;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
    }

    /*
Label the data
*/
    .admin-table td:nth-of-type(1):before {
        content: "First Name";
    }

    .admin-table td:nth-of-type(2):before {
        content: "Last Name";
    }

    .admin-table td:nth-of-type(3):before {
        content: "User Id";
    }

    .admin-table td:nth-of-type(4):before {
        content: "Email";
    }

    .admin-table td:nth-of-type(5):before {
        content: "Mobile";
    }

    .admin-table td:nth-of-type(6):before {
        content: "Status";
    }

    .admin-table td:nth-of-type(7):before {
        content: "Action";
        text-align: left;
        font-size: 14px;
    }

    .admin-table .dataTables_length {
        display: none;
    }

    /* Mail Box Config */
    .admin-table.webconfig td:nth-of-type(1):before {
        content: "Name";
    }

    .admin-table.webconfig td:nth-of-type(2):before {
        content: "User Name";
    }

    .admin-table.webconfig td:nth-of-type(3):before {
        content: "Display Name";
    }

    .admin-table.webconfig td:nth-of-type(4):before {
        content: "Company";
    }

    .admin-table.webconfig td:nth-of-type(5):before {
        content: "Actions";
        text-align: left;
        font-size: 14px;
    }

/* Admin Main UserList */
.admin-table.admin-main-user td:nth-of-type(1):before {
    content: "First Name";
}

.admin-table.admin-main-user td:nth-of-type(2):before {
    content: "Last Name";
}

.admin-table.admin-main-user td:nth-of-type(3):before {
    content: "Customer Id";
}

.admin-table.admin-main-user td:nth-of-type(4):before {
    content: "Actions";
    text-align: left;
    font-size: 14px;
}

    /* Logo Upload */
    .admin-table.logoupload td:nth-of-type(1):before {
        content: "Key";
    }

    .admin-table.logoupload td:nth-of-type(2):before {
        content: "Value";
    }

    .admin-table.logoupload td:nth-of-type(3):before {
        content: "Details";
    }

    .admin-table.logoupload td:nth-of-type(4):before {
        content: "Actions";
        text-align: left;
        font-size: 14px;
    }

    /* Website Configuration */
    .admin-table.websiteconfig td:nth-of-type(1):before {
        content: "Key";
    }

    .admin-table.websiteconfig td:nth-of-type(2):before {
        content: "Value";
    }

    .admin-table.websiteconfig td:nth-of-type(3):before {
        content: "Details";
    }

    .admin-table.websiteconfig td:nth-of-type(4):before {
        content: "Actions";
        text-align: left;
        font-size: 14px;
    }

    /* Email Template */
    .admin-table.mailtemplate td:nth-of-type(1):before {
        content: "Name";
    }

    .admin-table.mailtemplate td:nth-of-type(2):before {
        content: "Subject";
    }

    .admin-table.mailtemplate td:nth-of-type(3):before {
        content: "Active";
    }

    .admin-table.mailtemplate td:nth-of-type(4):before {
        content: "Mail Type";
    }

    .admin-table.mailtemplate td:nth-of-type(5):before {
        content: "Actions";
        text-align: left;
        font-size: 14px;
    }

    /* Dynamic Pages - Blog Tab */
    .admin-table.dynamicpage td:nth-of-type(1):before {
        content: "Id";
    }

    .admin-table.dynamicpage td:nth-of-type(2):before {
        content: "Title";
    }

    .admin-table.dynamicpage td:nth-of-type(3):before {
        content: "Description";
    }

    .admin-table.dynamicpage td:nth-of-type(4):before {
        content: "Posted Date";
    }

    .admin-table.dynamicpage td:nth-of-type(5):before {
        content: "Active";
    }

    .admin-table.dynamicpage td:nth-of-type(6):before {
        content: "Sequence";
    }

    .admin-table.dynamicpage td:nth-of-type(7):before {
        content: "URl";
    }

    .admin-table.dynamicpage td:nth-of-type(8):before {
        content: "Actions";
        text-align: left;
        font-size: 14px;
    }

    /* Manufacture List */
    .admin-table.manufcature td:nth-of-type(1):before {
        content: "Manufacture";
    }

    .admin-table.manufcature td:nth-of-type(2):before {
        content: "Doc Type";
    }

    .admin-table.manufcature td:nth-of-type(3):before {
        content: "Doc Name";
    }

    .admin-table.manufcature td:nth-of-type(4):before {
        content: "Doc Details URl";
    }

    .admin-table.manufcature td:nth-of-type(5):before {
        content: "Actions";
        text-align: left;
        font-size: 14px;
    }

    /* Product List */
    .admin-table.productlist td:nth-of-type(1):before {
        content: "Select";
    }

    .admin-table.productlist td:nth-of-type(2):before {
        content: "Product Name";
    }

    .admin-table.productlist td:nth-of-type(3):before {
        content: "Status";
    }

    .admin-table.productlist td:nth-of-type(4):before {
        content: "Actions";
        text-align: left;
        font-size: 14px;
    }

    /* Navigation Setting */
    .admin-table.headerlinks td:nth-of-type(1):before {
        content: "Link Name";
    }

    .admin-table.headerlinks td:nth-of-type(2):before {
        content: "Link URL";
    }

    .admin-table.headerlinks td:nth-of-type(3):before {
        content: "Sequence";
    }

    .admin-table.headerlinks td:nth-of-type(4):before {
        content: "Popover";
    }

    .admin-table.headerlinks td:nth-of-type(5):before {
        content: "Type";
    }

    .admin-table.headerlinks td:nth-of-type(6):before {
        content: "Actions";
        text-align: left;
        font-size: 14px;
    }

    /* Banner Settings */
    .admin-table.bannersetting td:nth-of-type(1):before {
        content: "Title";
    }

    .admin-table.bannersetting td:nth-of-type(2):before {
        content: "Description";
    }

    .admin-table.bannersetting td:nth-of-type(3):before {
        content: "Image";
    }

    .admin-table.bannersetting td:nth-of-type(4):before {
        content: "Is Active";
    }

    .admin-table.bannersetting td:nth-of-type(5):before {
        content: "Actions";
        text-align: left;
        font-size: 14px;
    }

    /* User Cart Report */
    .admin-table.usercartreport td:nth-of-type(1):before {
        content: "Customer";
    }

    .admin-table.usercartreport td:nth-of-type(2):before {
        content: "User Name";
    }

    .admin-table.usercartreport td:nth-of-type(3):before {
        content: "First Name";
    }

    .admin-table.usercartreport td:nth-of-type(4):before {
        content: "Last Name";
    }

    .admin-table.usercartreport td:nth-of-type(5):before {
        content: "Item";
    }

    .admin-table.usercartreport td:nth-of-type(6):before {
        content: "Quantity";
    }

    .admin-table.usercartreport td:nth-of-type(7):before {
        content: "Price";
    }

    .admin-table.usercartreport td:nth-of-type(8):before {
        content: "Date";
    }

    /* Activity Log Types */
    .admin-table.activitylogs td:nth-of-type(1):before {
        content: "Log Type";
    }

    .admin-table.activitylogs td:nth-of-type(2):before {
        content: "Description";
    }

    .admin-table.activitylogs td:nth-of-type(3):before {
        content: "Search Keyword";
    }

    .admin-table.activitylogs td:nth-of-type(4):before {
        content: "Customer";
    }

    .admin-table.activitylogs td:nth-of-type(5):before {
        content: "Sub User";
    }

    .admin-table.activitylogs td:nth-of-type(6):before {
        content: "Ip Address";
    }

    .admin-table.activitylogs td:nth-of-type(7):before {
        content: "Log Date";
    }


    /* Sales Filter */
    .admin-table.salesfilter td:nth-of-type(1):before {
        content: "Name";
    }

    .admin-table.salesfilter td:nth-of-type(2):before {
        content: "Type";
    }

    .admin-table.salesfilter td:nth-of-type(3):before {
        content: "Order";
    }

    .admin-table.salesfilter td:nth-of-type(4):before {
        content: "Actions";
        text-align: left;
        font-size: 14px;
    }
}

.admin-btn {
    display: flex;
    justify-content: space-between;
}

.admin-btn .btn {
    display: flex;
    float: right;
    background: #002428;
    border: 1px solid #002428;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.6px;
    padding: 7px;
    margin: 15px 0px;
    width: 150px;
    word-wrap: break-word;
    height: 40px;
    justify-content: center;
    align-items: center;
}