<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="custom-container">
                <div class="custom-inner-container">
                    <div class="col-md-12">
                        <h5>User Process Config
                            <small>Set your Process</small>
                        </h5>
                        <div class="card-content">
                            <form #userRegistrationForm="ngForm">
                                <div class="row">
                                    <input type="text" name="MemRefNo" #UserID="ngModel"
                                        [(ngModel)]="schedulerData.MemRefNo" style="display:none;">

                                    <!-- tabs code start here -->
                                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start"
                                        (selectedTabChange)="tabChanged($event)">
                                        <mat-tab class="tab-border" label="Scheduler">
                                            <div class="col-md-12 flex-single-row">
                                                <div class="flex-single-row-inner">
                                                    <h4>Full Data Migration</h4>
                                                    <mat-form-field style="">
                                                        <mat-label>Select Time</mat-label>
                                                        <mat-select name="SchedulerTime1" [disabled]=isdesable
                                                            [(ngModel)]="schedulerData.SchedulerTime1">
                                                            <mat-option *ngFor="let food of foods" [value]="food">
                                                                {{food}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>

                                                <button class="custom-btn" style="margin-right: 110px;" type="submit"
                                                    [disabled]=isdesable
                                                    (click)="addScheduler1Config(userRegistrationForm)">Submit</button>
                                            </div>
                                            <div class="col-md-12 flex-single-row">
                                                <div class="flex-single-row-inner">
                                                    <h4>Scheduler 2</h4>
                                                    <mat-form-field>
                                                        <mat-label>Select Time</mat-label>
                                                        <mat-select name="SchedulerTime2" [disabled]=isdesable
                                                            [(ngModel)]="schedulerData.SchedulerTime2">
                                                            <mat-option *ngFor="let food of foods1" [value]="food">
                                                                {{food}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <mat-label>Tables</mat-label>
                                                        <mat-select multiple name="Table2" [disabled]=isdesable
                                                            [(ngModel)]="schedulerData.Table2">
                                                            <mat-option *ngFor="let topping of toppingList"
                                                                [value]="topping">{{topping}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <button class="custom-btn" style="margin-right: 110px;" type="submit"
                                                    [disabled]=isdesable
                                                    (click)="addScheduler2Config(userRegistrationForm)">Submit</button>
                                            </div>
                                            <div class="col-md-12 flex-single-row">
                                                <div class="flex-single-row-inner">
                                                    <h4>Scheduler 3</h4>
                                                    <mat-form-field>
                                                        <mat-label>Select Time</mat-label>
                                                        <mat-select name="SchedulerTime3" [disabled]=isdesable
                                                            [(ngModel)]="schedulerData.SchedulerTime3">
                                                            <mat-option *ngFor="let food of foods2" [value]="food">
                                                                {{food}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <mat-label>Tables</mat-label>
                                                        <mat-select multiple name="Table3" [disabled]=isdesable
                                                            [(ngModel)]="schedulerData.Table3">
                                                            <mat-option *ngFor="let topping of toppingList"
                                                                [value]="topping">{{topping}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <button class="custom-btn" style="margin-right: 110px;" type="submit"
                                                    [disabled]=isdesable
                                                    (click)="addScheduler3Config(userRegistrationForm)">Submit</button>
                                            </div>
                                            <div class="col-md-12 flex-single-row">
                                                <div class="flex-single-row-inner">
                                                    <h4>Inactive Sub-Users Report</h4>
                                                    <mat-form-field style="">
                                                        <mat-label>Select Time</mat-label>
                                                        <mat-select name="SchedulerInactiveSubUsers" [disabled]=isdesable
                                                            [(ngModel)]="schedulerData.SchedulerInactiveSubUsers">
                                                            <mat-option *ngFor="let time of reportTiming" [value]="time">
                                                                {{time}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <button class="custom-btn" style="margin-right: 110px;" type="submit"
                                                    [disabled]=isdesable
                                                    (click)="addSchedulerInactiveSubUsers(userRegistrationForm)">Submit</button>
                                            </div>
                                            <div class="col-md-12 flex-single-row">
                                                <div class="flex-single-row-inner">
                                                    <h4>Invalid Items Report</h4>
                                                    <mat-form-field style="">
                                                        <mat-label>Select Time</mat-label>
                                                        <mat-select name="SchedulerInvalidItems" [disabled]=isdesable
                                                            [(ngModel)]="schedulerData.SchedulerInvalidItems">
                                                            <mat-option *ngFor="let time of reportTiming" [value]="time">
                                                                {{time}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <button class="custom-btn" style="margin-right: 110px;" type="submit"
                                                    [disabled]=isdesable
                                                    (click)="addSchedulerInvalidItems(userRegistrationForm)">Submit</button>
                                            </div>
                                        </mat-tab>
                                        <mat-tab class="tab-border" label="Sync Now">

                                            <div class="col-md-12 flex-single-row">
                                                <div class="flex-single-row-inner">
                                                    <h4>Date Time</h4>
                                                    <input type="date" name="SyncNowDate"
                                                        #SyncNowDate="ngModel" [(ngModel)]="date" class="validate"
                                                        required class="form-control custom-datepicker-mui">

                                                    <mat-form-field>
                                                        <mat-label>Tables</mat-label>
                                                        <mat-select multiple name="Table4"
                                                            [(ngModel)]="schedulerData.Table4">
                                                            <mat-option *ngFor="let topping of toppingList"
                                                                [value]="topping">{{topping}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <button class="custom-btn" style="margin-right: 110px;" type="submit"
                                                    (click)="syncTblNow()">Submit</button>
                                            </div>
                                        </mat-tab>
                                        <mat-tab class="tab-border" label="Process">
                                            <div class="col-md-12 button-grid">
                                                <button *ngIf="userType!='Client'" (click)="back()"
                                                    class="custom-white-btn">Back</button>

                                                <button (click)="CompressAllImages()" class="custom-btn">Compress
                                                    Images</button>
                                                <button (click)="TreeImages()" class="custom-btn">Tree Images
                                                    Sync</button>
                                                <button (click)="AllTreeImages()" class="custom-btn">All Tree Images
                                                    Sync</button>
                                                <button (click)="ProductImages()" class="custom-btn">Products Images
                                                    Sync</button>
                                                <button (click)="AllProductImages()" class="custom-btn">All Products
                                                    Images
                                                    Sync</button>
                                                <button (click)="SyncNow()" class="custom-btn">Full Data Sync</button>
                                            </div>
                                        </mat-tab>
                                    </mat-tab-group>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>