<div class="main-content">
    <div class="container-fluid admin-table headerlinks">
        <div class="row">
            <div class="custom-container">
                <div class="custom-inner-container">
                    <div class="row">
                        <div class="col-md-9">
                            <h5> Header Link List
                                <small>Manage your Header Links</small>
                            </h5>
                        </div>
                        <div class="col-md-3">
                            <button *ngIf="showtype==1" class="header-button" (click)="OnAddheaderlink()">Add
                                New</button>
                        </div>
                    </div>
                    <div *ngIf="showtype==1" class="record-count-section">
                        <label>
                            Search:
                            <input type="text" (input)="applyFilter()" [(ngModel)]="searchText" />
                        </label>
                    </div>
                    <div *ngIf="filteredHeaderlinkList!=null && filteredHeaderlinkList!=undefined && showtype==1">
                        <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                            <thead class="text-info">
                                <tr>
                                    <th>Link Name</th>
                                    <th>Link URL </th>
                                    <th>Sequence</th>
                                    <th>Popover</th>
                                    <th>Type</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let headlink of filteredHeaderlinkList">
                                    <td data-title="Name">{{headlink.linkname}}</td>
                                    <td data-title="URL">{{headlink.linkurl}}</td>
                                    <td data-title="Sequence">{{headlink.seq}}</td>
                                    <td data-title="Popover">{{headlink.popover}}</td>
                                    <td data-title="Type">{{headlink.types}}</td>
                                    <td class="font-20" align="center">
                                        <button class="btn-icon" (click)="onEditLink(headlink.linkid)">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button (click)="openDialog(headlink.linkid)" class="btn-icon"><i
                                                class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                    <div *ngIf="showtype==2" class="col-md-12">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label">Link Name</label>
                                        <input type="text" [(ngModel)]="linkname" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label">Link URL</label>
                                        <input type="text" [(ngModel)]="linkurl" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label">Link Sequence</label>
                                        <input type="text" [(ngModel)]="seq" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Types</label>
                                    <div class="form-group form-black label-floating">
                                        <select class="form-select" aria-label="Select Types" [(ngModel)]="types"
                                            name="types" required>
                                            <option value="header">Header</option>
                                            <option value="footer">Footer</option>
                                            <option value="dashboard">Dashboard</option>
                                            <option value="both">Both</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating chkbx">
                                        <mat-checkbox [(ngModel)]="popover" [ngModelOptions]="{standalone:true}"
                                            name="popover">popover</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Parent Sequence</label>
                                    <div class="form-group form-black label-floating">
                                        <select class="form-select" aria-label="Select Parent Sequence"
                                            [(ngModel)]="parentseq" name="parentLinkSequence" required>
                                            <option selected>Select Sequence</option>
                                            <option *ngFor="let link of headerlinklist" [value]="link.seq">{{
                                                link.linkname }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating chkbx">
                                        <mat-checkbox [(ngModel)]="ismenu" name="ismenu">Is Menu</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="align-flex">
                                <button (click)="getheaderlinks()" class="custom-white-btn mb-3">Back</button>
                                <button class="custom-btn mb-3" (click)="UpdateHeaderlinkByID()">Submit</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


