<h1 mat-dialog-title> {{ (itemDocId > 0) ? 'Edit Document' : 'Add Document' }}</h1> 
<div mat-dialog-content>
    <div class="main-content" style="margin-top:0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-content">
                        <form #productForm="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Doc Type</label>
                                    <div class="form-group form-black label-floating">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="selectedfileType" name="selectedfileType" [disabled]="itemDocId > 0" required>
                                                <mat-option *ngFor="let type of fileType" [value]="type.value">
                                                    {{type.key}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div  *ngIf="selectedfileType === 'doc'" class="col-md-12">
                                    <label>Doc Name</label>
                                    <div class="form-group form-black label-floating">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="selectedDocName" name="selectedDocName" required>
                                                <mat-option *ngFor="let type of docName" [value]="type.key">
                                                    {{type.key}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="selectedfileType === 'doc' || selectedfileType === 'image'"
                                    class="col-md-12">
                                    <label>{{selectedfileType == 'doc' ? "Document" : "Image"}}</label>
                                    <div class="form-group form-black label-floating">
                                        <ng-container *ngIf="selectedfileType == 'doc'">
                                            <a [title]="itemContent" [href]="itemContent"
                                                target="_blank">
                                                {{pdfFileName}}</a>
                                        </ng-container>
                                        <img *ngIf="selectedfileType == 'image' && itemContent != undefined && itemContent != ''" src="{{itemContent}}"
                                        style="height: 100px;width: 200px;"> <br />
                                        <input type="file" style="position: relative;opacity: inherit;margin-top: 20px;" (change)="onFileSelected($event)">
                                    </div>
                                </div>
                                <div *ngIf="selectedfileType === 'video'" class="col-md-12">
                                    <label>Video Content</label>
                                    <div class="form-group form-black label-floating">
                                        <textarea class="validate" [(ngModel)]="itemContent"
                                            style="height: 300px;border: 1px solid #D2D2D2" name="itemContent"
                                            class="form-control"> </textarea>
                                    </div>
                                </div>
                                <div *ngIf="selectedfileType === 'text'">
                                    <div class="col-md-12">
                                        <label>Item Content</label>
                                        <div class="form-group form-black label-floating">
                                            <textarea class="validate" style="height: 150px;border: 1px solid #D2D2D2"
                                                name="itemContent" [(ngModel)]="itemContent" class="form-control"
                                                required> </textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Item Content Preview</label>
                                        <div class="form-group form-black label-floating">
                                            <div style="height: 150px;border: 1px solid #D2D2D2;margin-top:10px;"
                                                *ngIf="itemContent != '' && itemContent != null && itemContent != undefined  && itemContent != 'undefined'"
                                                [innerHTML]="transform(itemContent,'html')" class="list-d"></div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="selectedfileType === 'image'">
                                    <div class="col-md-12" style="padding-left: 0;">
                                        <label>Item Sequence</label>
                                        <div class="form-group form-black label-floating">
                                            <input type="text" name="itemSequence" [(ngModel)]="itemSequence" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button class="custom-white-btn" (click)="onCancel()" style="margin-left:10px">Cancel</button>
    <button class="custom-btn" (click)="onSave()">Save</button>
</div>