.custom-table{
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 10px;
}
.custom-table th{
    text-align: center;
    margin: 10px;
}
.custom-table tr{
    margin: 10px;
}
.mat-checkbox-layout{
    padding: 10px !important;
}  