<div class="main-content">
    <div class="container-fluid admin-table logoupload">
        <div class="row">
            <div class="custom-container">
                <div class="custom-inner-container">
                    <h5> Logo Settings
                        <small>Manage your Logo Configurations</small>
                    </h5>
                    <!-- <div class="record-count-section">
                        <label>
                            Search:
                            <input type="text" (input)="applyFilter()" [(ngModel)]="searchText" />
                        </label>
                    </div> -->
                    <div *ngIf="filteredConfigList!=null && filteredConfigList!=undefined">
                        <table  class="table table-bordered table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>value </th>
                                    <th>Details</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let conf of filteredConfigList| paginate : { itemsPerPage:12, currentPage:page,totalItems:totalPage, id:'first' }">
                                    <td data-title="Key">{{conf.ColorConfigKey}}</td>
                                    <td data-title="value">{{conf.ColorValue}}</td>
                                    <td data-title="Details">{{conf.Description}}</td>
                                    <td class="font-20" align="center">
                                        <button (click)="onEditconf(conf.ColorConfigID)" class="btn btn-default">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align:center">
                            <pagination-controls (pageChange)="pageChanged($event)" id="first">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>