<div class="main-content">
    <div class="container-fluid admin-table bannersetting">
        <div class="row">
            <div class="custom-container">
                <div class="custom-inner-container">
                    <div class="row">
                        <div class="col-md-9">
                            <h5> Home Page Banners List
                                <small>Manage your Home Page Banners</small>                            
                            </h5>        
                        </div>
                        <div class="col-md-8">
                            <button *ngIf="showtype==1" class="header-button" (click)="OnAddheaderlink()">Add New</button>
                        </div>
                    </div>
                    <div *ngIf="showtype==1" class="record-count-section">
                        <label>
                            Search:
                            <input type="text" (input)="applyFilter()" [(ngModel)]="searchText" />
                        </label>
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="Bannerlist!=null && Bannerlist!=undefined && showtype==1">
                            <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                                <thead class="text-info">
                                    <tr>
                                        <th>Title</th>
                                        <th>Description </th>
                                        <th>Image</th>
                                        <th>IsActive</th>
                                        <th style="text-align: center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let headlink of filteredBannerlist  | paginate : { itemsPerPage:5, currentPage:page,totalItems:totalPage, id:'first' }">
                                        <td data-title="Title">{{headlink.Title}}</td>
                                        <td data-title="Description">{{headlink.Description}}</td>
                                        <td data-title="Image"> <img src="{{headlink.ImageUrl}}"
                                                style="height: 100%;width: 100%;"> </td>
                                        <td data-title="IsActive">{{headlink.IsActive}}</td>
                                        <td class="font-20" align="center">
                                            <button (click)="getBannerDetails(headlink.BannerId)"
                                                class="btn btn-default"> <i class="fa fa-pencil"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align:center">
                                <pagination-controls (pageChange)="pageChanged($event)" id="first">
                                </pagination-controls>
                            </div>
                        </div>
                        <div class="card-content" *ngIf="showtype==2">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating"
                                        [ngClass]="{'is-empty': Title=='','is-focused' : Title!=''}">
                                        <label class="control-label">Title</label>
                                        <input type="text" [(ngModel)]="Title" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating"
                                        [ngClass]="{'is-empty': Description=='','is-focused' : Description!=''}">
                                        <label class="control-label">Description</label>
                                        <input type="text" [(ngModel)]="Description" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating"
                                        [ngClass]="{'is-empty': targeturl=='','is-focused' : targeturl!=''}">
                                        <label class="control-label">Target URL</label>
                                        <input type="text" [(ngModel)]="targeturl" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating"
                                        [ngClass]="{'is-empty': linkname=='','is-focused' : linkname!=''}">
                                        <label class="control-label">Link Name</label>
                                        <input type="text" [(ngModel)]="linkname" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Types</label>
                                    <div class="form-group form-black label-floating">
                                        <select class="form-select" aria-label="Select Types" [(ngModel)]="types"
                                            name="types" required>
                                            <option value="home">home</option>
                                            <option value="footer">footer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-4">
                                    <div class="form-group form-black label-floating">
                                        <mat-checkbox [(ngModel)]="IsActive" name="IsActive">Is
                                            Active</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating">
                                        <img  *ngIf="ImageUrl!=undefined && ImageUrl!=''" src="{{ImageUrl}}"
                                            style="height: 100px;width: 200px;"><br>
                                        <input class="mt-3" type="file" style="position: relative;opacity: inherit;"
                                            (change)="onFileSelected($event)">
                                    </div>
                                </div>
                            </div>
                            <button (click)="GetAllBanners()" class="custom-white-btn">Back</button>
                            <button class="custom-btn" (click)="OnUpload()">Submit</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>