<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="custom-container">
                <div class="custom-inner-container">
                    <h5> Activity Log Report
                        <small>Export Report Data</small>
                    </h5>
                    <div class="col-md-12">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Log Type</label>
                                    <select class="form-select" aria-label="Select LogType"
                                        [(ngModel)]="Activitylog.LogType" name="LogType" required>
                                        <option *ngFor="let ltype of logtypeslist" [value]="ltype">
                                            {{ ltype }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Search Keyword</label>
                                    <input type="text" name="SearchKeyword" #SearchKeyword="ngModel"
                                        [(ngModel)]="Activitylog.SearchKeyword" class="validate" required
                                        class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Customer</label>
                                    <input type="text" name="CustID" #CustID="ngModel" [(ngModel)]="Activitylog.CustID"
                                        class="validate" required class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Sub User</label>
                                    <input type="text" name="UserId" #UserId="ngModel" [(ngModel)]="Activitylog.UserId"
                                        class="validate" required class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Ip Address</label>
                                    <input type="text" name="ClientIP" #ClientIP="ngModel"
                                        [(ngModel)]="Activitylog.ClientIP" class="validate" required
                                        class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">From Date</label>
                                    <input type="date" name="FromDate" #FromDate="ngModel"
                                        [(ngModel)]="Activitylog.FromDate" class="validate" required
                                        class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">To Date</label>
                                    <input type="date" name="ToDate" #ToDate="ngModel" [(ngModel)]="Activitylog.ToDate"
                                        class="validate" required class="form-control">
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 text-center">
                                        <button (click)="clearactivitylog()" class="custom-white-btn">Clear</button>
                                        <button (click)="exporttoxlsx()" class="custom-btn">Export</button>
                                        <button (click)="searchactivitylog()" class="custom-btn">Search</button>
                                    </div>
                                </div>

                            </div>
                            <div class="row table-mobile custome-table">
                                <table class="table table-striped table-bordered custom-table" width=100%;>
                                    <thead class="text-info">
                                        <tr>
                                            <th  style="cursor: pointer;" (click)="toggleSort('LogType')">Logtype
                                                <span [ngClass]="{ 'disabled-icon': sortedColumn != 'LogType' }">
                                                    <i
                                                        [ngClass]="ascending ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                                                </span>
                                            </th>
                                            <th style="cursor: pointer;" (click)="toggleSort('Description')">Description 
                                                <span [ngClass]="{ 'disabled-icon': sortedColumn != 'Description' }">
                                                    <i
                                                        [ngClass]="ascending ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                                                </span>
                                            </th>
                                            <th style="cursor: pointer;" (click)="toggleSort('SearchKeyword')">Search Keyword
                                                <span [ngClass]="{ 'disabled-icon': sortedColumn != 'SearchKeyword' }">
                                                    <i
                                                        [ngClass]="ascending ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                                                </span>
                                            </th>
                                            <th style="cursor: pointer;" (click)="toggleSort('CustID')">Customer
                                                <span [ngClass]="{ 'disabled-icon': sortedColumn != 'CustID' }">
                                                    <i
                                                        [ngClass]="ascending ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                                                </span>
                                            </th>
                                            <th style="cursor: pointer;" (click)="toggleSort('UserId')">Sub User
                                                <span [ngClass]="{ 'disabled-icon': sortedColumn != 'UserId' }">
                                                    <i
                                                        [ngClass]="ascending ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                                                </span>
                                            </th>
                                            <th style="cursor: pointer;" (click)="toggleSort('ClientIP')">Ip Address
                                                <span [ngClass]="{ 'disabled-icon': sortedColumn != 'ClientIP' }">
                                                    <i
                                                        [ngClass]="ascending ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                                                </span>
                                            </th>
                                            <th style="cursor: pointer;" (click)="toggleSort('LogDate')">LogDate
                                                <span [ngClass]="{ 'disabled-icon': sortedColumn != 'LogDate' }">
                                                    <i
                                                        [ngClass]="ascending ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let conf of Activitylogs | orderBy: sortedColumn: ascending">
                                            <td data-title="Logtype">{{conf.LogType}}</td>
                                            <td data-title="Description">{{conf.Description}}</td>
                                            <td data-title="Search Keyword">{{conf.SearchKeyword}}</td>
                                            <td data-title="Customer">{{conf.CustID}}</td>
                                            <td data-title="Sub User">{{conf.UserId}}</td>
                                            <td data-title="Ip Address">{{conf.ClientIP}}</td>
                                            <td data-title="LogDate">{{conf.LogDate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>