<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="custom-container">
                <div class="custom-inner-container">
                    <h5>User List
                        <small>Manage users list</small>
                    </h5>
                    <table class="table table-striped table-bordered custom-table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Id</th>
                                <th style="text-align: center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of userList | paginate : { itemsPerPage:50, currentPage:page,totalItems:totalPage, id:'first' }">
                                <td data-title="First Name">{{user.FirstName}}</td>
                                <td data-title="Last Name">{{user.LastName}}</td>
                                <td data-title="Customer ID">{{user.MemberRefNo}}</td>
                                <td class="font-20" align="center">
                                    <button class="btn-icon" (click)="onManageUser(user.UserID,user.MemberRefNo)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn-icon" (click)="openDialog(user.UserID)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="card"> -->

            <!-- <div class="card-header" data-background-color="darkblue">
                        <table width=100%>
                            <tr>
                                <td>
                                    <h4 class="title" *ngIf="userType == 'Admin'">Admin List</h4>
                                    <h4 class="title" *ngIf="userType == 'Client'">Customer List</h4>
                                    <p class="category" *ngIf="userType == 'Admin'">Manage admin users</p>
                                    <p class="category" *ngIf="userType == 'Client'">Manage customer users</p>
                                </td>
                                <td style="text-align: right;">
                                    <button (click)="OnAddUser()" class="btn btn-danger">Add New</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-content table-responsive table-mobile">
                        <table class="table">
                            <thead class="text-info">
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name </th>
                                    <th *ngIf="userType == 'Admin'">Uesr ID</th>
                                    <th *ngIf="userType == 'Client'">Customer ID</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of userList | paginate : { itemsPerPage:50, currentPage:page,totalItems:totalPage, id:'first' }">
                                    <td data-title="First Name">{{user.FirstName}}</td>
                                    <td data-title="Last Name">{{user.LastName}}</td>
                                    <td data-title="Customer ID">{{user.MemberRefNo}}</td>
                                    <td class="btnalign">
                                        <button (click)="onManageUser(user.UserID,user.MemberRefNo)" class="btn btn-default">Edit</button>
                                        <button (click)="openDialog(user.UserID)" class="btn btn-danger">Delete</button>
                                       
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    <hr>
                    <div style="text-align:center">
                        <pagination-controls (pageChange)="page = getUserList($event)" id="first">
                        </pagination-controls>
                    </div>
                </div> -->
            <!-- </div>
            </div> -->
        </div>
    </div>
</div>