<div class="main-content">
    <div class="container-fluid admin-table admin-main-user">
        <div class="row">
            <div class="custom-container">
                <div class="custom-inner-container admin-pannel-head">
                    <div class="col-md-9">
                        <h5> {{userType == 'Admin' ? 'Admin List' : 'Customer List'}}
                            <small>{{userType == 'Admin' ? 'Manage admin users' : 'Manage customer users'}}</small>
                        </h5>
                    </div>
                    <div class="col-md-3">
                        <button class="header-button" (click)="OnAddUser(0)">Add User</button>
                    </div>
                </div>
                <div class="custom-inner-container">

                    <div class="record-count-section">
                        <label>
                            Search:
                            <input type="text" (input)="applyFilter()" [(ngModel)]="searchText" />
                        </label>
                    </div>
                    <table  class="table table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>{{userType == 'Admin' ? 'User Id' : 'Customer ID'}} </th>
                                <th style="text-align: center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let user of filteredUserList | paginate : { itemsPerPage:15, currentPage:page,totalItems:totalPage, id:'first' }">
                                <td data-title="First Name">{{user.FirstName}}</td>
                                <td data-title="Last Name">{{user.LastName}}</td>
                                <td data-title="Customer ID">{{user.MemberRefNo}}</td>
                                <td class="font-20" align="center">
                                    <button class="btn-icon" (click)="onManageUser(user.UserID,user.MemberRefNo)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <!-- <button class="btn-icon" (click)="openDialog(user.UserID)">
                                        <i class="fa fa-trash"></i>
                                    </button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align:center">
                        <pagination-controls (pageChange)="page = getUserList($event)" id="first">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>