<div class="main-content" style="margin-top:0">
  <div class="container-fluid">
    <div class="row">
      <div class="custom-container">
        <div class="custom-inner-container">
          <div class="col-md-12">
            <h5>{{pageType}}
              <small>Manage your Page Content</small>
            </h5>
            <div class="card-content">
              <form #mailConfigForm="ngForm">
                <div class="row" *ngIf="Mailtemplate!=null && Mailtemplate!=undefined">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group form-black label-floating">
                          <label class="control-label"></label>
                          <label class="form-control custom-label-url">{{companyDomainValue}}/{{pageType |
                            lowercase}}/</label>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group form-black label-floating"
                          [ngClass]="{'is-empty': Mailtemplate.PageName=='','is-focused' : Mailtemplate.PageName!=''}">
                          <label class="control-label">Url<span class="custom-lbl-font-11">(Enter Your {{pageType}}
                              Url)</span></label>
                          <input type="text" name="PageName" id="PageName" #PageName="ngModel"
                            value="Mailtemplate.PageName" [value]="Mailtemplate.PageName"
                            [(ngModel)]="Mailtemplate.PageName" class="form-control" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-black label-floating"
                          [ngClass]="{'is-empty': Mailtemplate.PageTitle=='','is-focused' : Mailtemplate.PageTitle!=''}">
                          <label class="control-label">Title</label>
                          <input class="validate" type="text" name="PageTitle" #PageTitle="ngModel"
                            [(ngModel)]="Mailtemplate.PageTitle" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-black label-floating"
                          [ngClass]="{'is-empty': Mailtemplate.PageDescription=='','is-focused' : Mailtemplate.PageDescription!=''}">
                          <label class="control-label">Description</label>
                          <input class="validate" type="text" name="PageDescription" #PageDescription="ngModel"
                            [(ngModel)]="Mailtemplate.PageDescription" class="form-control" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group form-black label-floating"
                        [ngClass]="{'is-empty': Mailtemplate.PageKeywords=='','is-focused' : Mailtemplate.PageKeywords!=''}">
                        <label class="control-label">{{ pageType == 'Blogs' ? 'Posted By' : 'Keywords'}}</label>
                        <input class="validate" type="text" name="PageKeywords" #PageKeywords="ngModel"
                          [(ngModel)]="Mailtemplate.PageKeywords" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black label-floating">
                        <label class="control-label">Sequence</label>
                        <input class="validate" type="text" name="Sequence" #Sequence="ngModel"
                          [(ngModel)]="Mailtemplate.Sequence" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black label-floating" style="margin:17px">
                        <mat-checkbox [(ngModel)]="Mailtemplate.IsActive" name="IsActive">Active</mat-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group form-black label-floating">
                        <img *ngIf="Mailtemplate.imageurl!=undefined && Mailtemplate.imageurl!=''"
                          src="{{Mailtemplate.imageurl}}" style="height: 100px;width: 200px;">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group form-black label-floating">
                        <input type="file" style="position: relative;opacity: inherit;"
                          (change)="onFileSelected($event)">
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-12">
                    <div class="form-group form-black label-floating">
                      <label class="control-label">Page Content Editor</label>
                      <froala-editor [(ngModel)]="Mailtemplate.PageContent"></froala-editor>
                    </div>
                  </div> -->
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating"
                      [ngClass]="{'is-empty': Mailtemplate.PageContent=='','is-focused' : Mailtemplate.PageContent!=''}">
                      <label class="control-label">Page Content</label>
                      <textarea class="validate" style="height: 500px;" name="PageContent" #PageContent="ngModel"
                        [(ngModel)]="Mailtemplate.PageContent" class="form-control" required> </textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating">
                      <label class="control-label">Page Preview</label>
                      <div style="margin-top:10px;"
                        *ngIf=" Mailtemplate.PageContent!='' && Mailtemplate.PageContent!=null && Mailtemplate.PageContent!=undefined  && Mailtemplate.PageContent!='undefined'"
                        [innerHTML]="transform(Mailtemplate.PageContent,'html')" class="list-d"></div>
                    </div>
                  </div>
                </div>
                <button (click)="back()" class="custom-white-btn">Back</button>
                <button class="custom-btn" (click)="OnSubmit(mailConfigForm)">Submit</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>