<div class="main-content">
    <div class="container-fluid admin-table mailtemplate">
        <div class="row">
            <div class="custom-container">
                <div class="custom-inner-container">
                    <h5> Mail Template List
                        <small>Manage your Mail Template</small>
                    </h5>
                    <div class="record-count-section">
                        <label>
                            Search:
                            <input type="text" (input)="applyFilter()" [(ngModel)]="searchText" />
                        </label>
                    </div>
                    <div *ngIf="mailconfiglist!=null && mailconfiglist!=undefined">
                        <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                            <thead class="text-info">
                                <tr>
                                    <th>Name</th>
                                    <th>Subject </th>
                                    <th>Active </th>
                                    <th>Mail Type </th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mails of filteredMailConfigList  | paginate : { itemsPerPage:12, currentPage:page,totalItems:totalPage, id:'first' }">
                                    <td data-title="Name">{{mails.MailTemplateName}}</td>
                                    <td data-title="Subject">{{mails.MailTemplateSubject}}</td>
                                    <td data-title="Subject">{{mails.IsActive}}</td>
                                    <td data-title="Subject" *ngIf="mails.MailType=='1'">In</td>
                                    <td data-title="Subject" *ngIf="mails.MailType=='2'">Out</td>
                                    <td class="font-20" align="center">
                                        <button (click)="onEditconf(mails.MailTemplateID)" class="btn-icon">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align:center">
                            <pagination-controls (pageChange)="pageChanged($event)" id="first">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>