<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="darkblue">
                        <h4 class="title">Mail Template List</h4>
                        <p class="category">Manage your Mail Template</p>

                    </div>
                    <div *ngIf="mailconfiglist!=null && mailconfiglist!=undefined" class="card-content table-responsive table-mobile">
                        <table class="table">
                            <thead class="text-info">
                                <tr>
                                    <th>Name</th>
                                    <th>Subject </th>
                                    <th>Active </th>
                                    <th>Mail Type </th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mails of mailconfiglist">
                                    <td data-title="Name">{{mails.MailTemplateName}}</td>
                                    <td data-title="Subject">{{mails.MailTemplateSubject}}</td>
                                    <td data-title="Subject">{{mails.IsActive}}</td>
                                    <td data-title="Subject" *ngIf="mails.MailType=='1'">In</td>
                                    <td data-title="Subject" *ngIf="mails.MailType=='2'">Out</td>

                                    <td class="btnalign">
                                        <button (click)="onEditconf(mails.MailTemplateID)" class="btn btn-default">Edit</button>
                                        <!-- <a (click)="onEditconf(mails.MailTemplateID)">
                      <i class="material-icons">mode_edit</i>
                    </a> -->

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>