<div *ngIf="isLogin('login');else login_content">
  <div class="wrapper">
    <ngx-toastr></ngx-toastr>
    <app-navbar *ngIf="isLogin('login')"></app-navbar>
    <div class="row" *ngIf="isLogin('login')">
      <app-sidebar></app-sidebar>
    </div>
    <div *ngIf="!isLogin('login')" class="main-panel">
      <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #login_content>
  <app-login></app-login>
</ng-template>