<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="custom-container">
        <div class="custom-inner-container">
          <h5>Delete cacher
            <small>Cash Data</small>
            <button (click)="DeleteAllMemoryCacher()" class="custom-btn">Delete All</button>
          </h5>
          <div class="card-content">
            <table id="table1" *ngIf="cacherlist!=null && cacherlist!=undefined" style="margin-top: 29px;"
               class="table table-bordered table-hover" cellspacing="0" width="100%">
              <tr *ngFor="let order of cacherlist">
                <td (click)="Deletecacher(order.sKey)">
                  {{order.sKey}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>