<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse hoverNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">person</i>
                        <p class="hidden-lg hidden-md">Profile</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a (click)="Logout()">Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="welcomtxt nav navbar-nav navbar-left nav-bar-menu-items">
                <a class="menu-link" [routerLink]="['/userlist', 'Admin']">Users</a>
                <a class="menu-link" [routerLink]="['/userlist', 'Client']">Customers</a>
            </span>
            <span class="welcomtxt nav navbar-nav navbar-right"> Welcome Admin !</span>
        </div>
    </div>
</nav>