<div class="main-content">
    <div class="container-fluid admin-table websiteconfig">
        <div class="row">
            <div class="custom-container">
                <div class="custom-inner-container">
                    <h5> Configuration List
                        <small>Manage your Configurations</small>
                    </h5>
                    <div class="record-count-section">
                        <label>
                            Search:
                            <input type="text" (input)="applyFilter()" [(ngModel)]="searchText" />
                            <button class="refresh-btn" (click)="onReset()"><i class="fa fa-refresh refresh-icon-clr" aria-hidden="true"></i></button>
                        </label>
                    </div>
                    <div *ngIf="configlist!=null && configlist!=undefined">
                        <table  class="table table-bordered table-hover" cellspacing="0" width="100%">
                            <thead class="text-info">
                                <tr>
                                    <th>Key</th>
                                    <th>value </th>
                                    <th>Details</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let conf of filteredConfigList | paginate : { itemsPerPage:50, currentPage:page,totalItems:totalPage, id:'first' }">
                                    <td>{{conf.ConfigKey}}</td>
                                    <td>{{conf.ConfigValue}}</td>
                                    <td>{{conf.descr}}</td>
                                    <td class="font-20" align="center">
                                        <button class="btn-icon" (click)="onEditconf(conf.ConfigId)"> 
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align:center">
                            <pagination-controls (pageChange)="pageChanged($event)" id="first">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>