<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="darkblue">
                        <i class="material-icons">person</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Manage</p>
                        <h3 class="title">Users</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">person</i> <a (click)="OnManageUser('Admin')" style="cursor: pointer">View Users</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="darkblue">
                        <i class="material-icons">person</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Manage</p>
                        <!-- <h3 class="title">Customer</h3> -->
                        <h3 class="title">Customer</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">person</i> <a (click)="OnManageUser('Client')" style="cursor: pointer">View Customer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 m2">
        <div class="card">
          <div class="card-content" style="text-align:center">
            <a style="color: black;cursor: pointer;" (click)="OnManageUser('Admin')">
              <i class="material-icons large">person</i>
            </a>
            <label style="float: left;font-size: 14px;position: relative;bottom: 10px;left: 35px;">Manage User</label>
          </div>
        </div>
      </div>

      <div class="col s12 m2">
        <div class="card">
          <div class="card-content" style="text-align:center">
            <a style="color: black;cursor: pointer;" (click)="OnManageUser('Client')">
              <i class="material-icons large">person</i>
            </a>
            <label style="float: left;font-size: 14px;position: relative;bottom: 10px;left: 35px;">Manage Client</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->